<%- include('header') -%>



    <!-- full container for the whole home -->
    <div class="container">

        <!-- first div -->
        <div class="col">
            
        </div>
    </div>




<%- include('footer') -%>